<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <title>Sidebar FireAlert</title>
</head>

<body>
  <div th:fragment="sidebar" class="hidden flex-col space-y-3 bg-gray-900 border-r border-gray-700 py-1 pl-5 pt-10 text-gray-400 md:flex md:w-72">
    <th:block th:replace="~{layout/fragments/menu :: menu}"></th:block>
  </div>
</body>

</html>